.container {
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  height: 400px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container:hover {
  border-color: black;
  transform: scale(1.01);
  transition: 0.2s;
}

.container:active {
  border-color: black;
  transform: scale(0.98);
}

.container h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.container img {
  width: 150px;
}

.highlight-search-match {
  background-color: yellow;
}
